.*.swp
.*.swo
*.o
*.d
*.pyc
perf.data
perf.data.old
/yale.lex.c
/yale.lex.h
/yale.tab.c
/yale.tab.h
/httpparser.c
/httpparser.h
/httpcparser.c
/httpcparser.h
/lenprefixcparser.c
/lenprefixcparser.h
/YALE.LEX.INTERMEDIATE
/YALE.TAB.INTERMEDIATE
/intermediatestore/
/yaletest
/httpmain
/httpmainprint
/httpcmain
/httpcmainprint
/lenprefixcmain
/yaletopy
/http.py
/regexmain
/yaleparser
